.item-container {
  width: 25rem;
  height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 196, 196, 0.08);
  cursor: pointer;
  transition: 100ms;
}

.item-container:hover {
  transform: scale(1.1, 1.1);
}

.item-container > ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 15rem;
  height: 15rem;
}

.product-image {
  width: 15rem;
  height: 10rem;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 0.5rem;
}

.product-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.product-info-container > :nth-of-type(1) {
  font-family: "Montserrat SemiBold";
  font-size: 1.2rem;
}

.product-info-container > :nth-of-type(2) {
  font-family: "Montserrat";
  font-size: 1rem;
}

@media (max-width: 650px) {
  .item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    
  }

  .product-image {
    width: 8rem;
    height: 8rem;
    background-color: rgba(204, 196, 196, 0.08);
  }

  .product-info-container > :nth-of-type(1) {
    font-family: "Montserrat SemiBold";
    font-size: 0.7rem;
  }

  .product-info-container > :nth-of-type(2) {
    font-family: "Montserrat";
    font-size: 0.7rem;
  }
}
