.avatar-container {
  color: rgb(255, 255, 255);
  font-family: "Montserrat Medium";
  font-size: 0.9rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

.avatar-container .image {
  background-image: url("../../../utils/Images/AppImages/avatar.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  
}

.avatar-container .greeting {
  cursor: default;
  position: absolute;
  left: calc(-100% - 32px - 28px);
  top: calc(50% - 32px);
  z-index: 10000;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 2rem;
  background-color: #f9f0ff;
  color: rgb(0, 0, 0);
}
