.cart-item-container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    font-family: "Montserrat";
    gap:1rem;
    padding-top: 1.5rem;
}

.cart-image-container {
    display: flex;
    padding-left: 1rem;
}

.cart-info-container {
    text-align: left;
}

.cart-image {
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    background-color: rgb(250, 246, 246);
}

.quantity-container {
    display: flex;
    width: 7rem;
    justify-content: center;
    align-items: center;
    
}

.quantity {
    border: 0.01rem thin black;
    height: 2rem;
    width: 3rem;
    text-align: center;
    text-align: center;
    margin: 0 0.5rem;
    font-size: 1rem;
}

.quantity-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 10%;
    font-size: 1.8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

