
.email-form-container {
  font-family: "Montserrat Bold";
  width: 100%;
  background: linear-gradient(#424242, #000000);
  color: rgb(255,255,255);
}

.loading-div {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgb(255,255,255);
}

.loading-icon {
  color: rgb(192, 1, 1);
  position: absolute;
  top: calc(50% - 51px);
  left: calc(50% - 51px);
  font-weight: 600;
}

.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  padding-top: 1.5rem;
}

.email-greeting {
  font-size: 1.2rem;
  
}

.form-input {
  font-family: "Montserrat Medium";
  width: 100%;
  padding: 0.5rem 0.5rem;
  border: 0.1rem solid rgb(0, 0, 0);
}

.image {
  background-image: url("../../../utils/Images/AppImages/avatar.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: 0.1rem solid rgb(255,255,255);
  
}

.form-btn {
  font-family: "Montserrat Medium";
  width: 6rem;
  height: 2rem;
  border: 0.05rem solid rgb(0, 0, 0);
  transition: 0.33s;
}

.form-btn:hover {
  transform: scale(1.1,1.1);
}
