.home-container {
  height: 100vh;
  background: url("../../utils/images/AppImages/homeBG.jpeg")no-repeat left top fixed;
  background-size: 100% 100%;
  font-family: "Montserrat Bold";
}

.main-section-shop {
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 20rem;
  padding-left: 6rem;
  gap: 1rem;
}

.main-section-shop > h1 {
  font-size: 3.5rem;
}

.main-section-shop > p {
  font-size: 1.5rem;
}

.main-section-shop .shop-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 1s;
  text-decoration: none;
  color: rgb(0,0,0);
  border-radius: 1rem;
  background: rgb(255,255,255);
  border: none;
}

.main-section-shop .shop-btn:hover {
  transform: scale(1.1,1.1);
}


@media (max-width: 650px) {
  .home-container {
    height: 100vh;
    background-size: cover;
    
  }
}